<div class="navigator container">
    <div class="row">
        <div class="col-4 nopadding">
            <div class="navigator__logo">
                <button class="navigator__logo-button">
                    <img class="navigator__logo-img" src="assets/HKM_logo.png">
                    <div class="navigator__logo-header">
                        <div class="navigator__logo-header_sub2">Hitesh Mandav</div>
                        <div class="navigator__logo-header_sub1">Web developer</div>
                    </div>
                </button>
              </div>
        </div>
        <!-- <div class="navigator__tabs col-2"></div> -->
        <div class="navigator__tabs col-8 nopadding">
            <div class="navigator__tabs_tab">Home</div>
            <div class="navigator__tabs_tab">Projects</div>
            <div class="navigator__tabs_tab">Contact</div>
        </div>
    </div>
    
</div>
